body {
  background-color:#D4B26A; 
  padding-top:10px;
  padding-bottom:10px;
/*   display: flex; with Flexbox */
/*   display: flex; */
  justify-content: center;
}
article#policy_letter{
  background-color :white;
  max-width: 70ch;
  margin: 0 auto;
}
.company_name{
  padding-top:20px;
  text-align:center;
  font-size:18px;
}
.company_address{
  text-align:center;
  line-height: 0px;
  font-size:16px;
}
 .name{
  margin:30px;
  text-align: center;
  font-size:16px;
}
ul.hat_list  li{
  padding-left:50px;
/* Use list-style-none =>  No marker is show */
  list-style-type: none; 
  margin-left:10px ;
  padding: 0;
}
.series_name{
  text-align:center;
  font-style: italic;
  font-weight: 500;
  margin-top:20px;
}
.title{
  text-align:center;
  line-height:0px;
  font-size:20px;
  font-weight:bold;
}
.content p{ 
  word-break: break-all;
  padding-left:50px;
  padding-right:50px;
  text-align:justify;
}
.author{
  text-align:center;
  line-height:0px;
  margin-top:20px;
}
.author_title{
  text-align:center;
  paddding-bottom:30px;
}